.gallery-image {
    width: 200px;
    height: 200px;
    background-image: url("https://edube.org/uploads/media/default/0001/03/sunflowers_sunset_full.jpg");
    background-size: cover;
    opacity: 0.7; /* Initial reduced opacity */
    transition: opacity 0.3s ease-in-out; /* Smooth transition for the opacity property */
}

.gallery-image:hover {
    opacity: 1; /* Full opacity on hover */
}