.column {
    float: left;
    /* Align columns side by side */
    padding: 10px;
}

.large {
    width: 50%;
    /* Large column takes half of the container's width */
}

.medium {
    width: 25%;
    /* Medium column takes 30% of the container's width */
}

.small {
    width: 20%;
    /* Small column takes 20% of the container's width */
}

.container {
    overflow: auto; /* or 'hidden' */
}